<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }
    </style>
    <title>Welcome to gitPub</title>
</head>

<body>
    <h1>GitPub Drinks</h1>
    <ul>
        <% for(let i = 0; i < drinks.length; i+=1) { %>
        <li>
            <a href="/drinks/<%= i %>">
                <%= drinks[i].name[0].toUpperCase() + drinks[i].name.substring(1) %> <!-- it said only first word, 
                    so that's what I did, but you could loop over again sepparating by spaces to capitalize the 
                    first letter of each word -->
            </a>
        </li>
        <% } %>
    </ul>
</body>

</html>